<form class="new-card-form">
  <input type="hidden" name="card[list_id]" value="<%= list.id %>">
  <input 
    type="text"
    name="card[title]"
    class="card-title">
  <input type="submit" value="Go">
</form>