<form class="new-card-form">
  <input type="hidden" name="card[list_id]" value="<%= list.id %>">
  <input 
    type="text"
    name="card[title]"
    class="card-title form-control"
    placeholder="Add a card...">
  <!-- <input type="submit" value="Go" class="btn btn-default"> -->
</form>