<div class="card-show">
  <div class="card-title">
    <%= card.escape("title") %>
  </div>
</div>



<!-- <div class="panel panel-info">
  <div class="panel-body">
    <%= card.escape("title") %>
  </div>
</div> -->