<div class="user-form">
  <h1>Sign Up</h1>

  <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Email<br>
      <input name="user[email]" type="text" class="form-control">
    </label><br>
    <label>Password<br>
      <input name="user[password]" type="password" class="form-control"><br>
    </label><br>
    <input type="submit" value="Submit" class="btn btn-primary"><br>
  </form>
</div>