/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.list-container div {
  display: inline-block;
}

#main {
  margin: 0 40px 40px 40px;
}

.list-show {
  width: 260px;
  display: inline-block;
  border-radius: 5px;
  background-color: lightblue;
  padding: 10px;
  margin: 12px;
  
}

.list-header {
  font-weight: bold;
}

.card-container {
  width: 100%;
}


/* Looks like views make anonymous divs... should probably change that */
.card-container div {
  width: 100%;
}

.card-show {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: block;
  
  .card-title {
    float: left;
    width: 80%;
  }
  
  button.remove-card {
    float: right;
    visibility: hidden;
    width: 20%;
  }
}

.card-show:hover {
  button.remove-card {
    visibility: visible;
  }
};

.board-button {
  width: 260px;
  background-color: darkblue;
  height: 80px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  
  a {
    color: lightblue;
  }
  a:hover {
    color: azure;
    text-decoration: none;
  };
}

#new-list-form, #new-board-form {
  input[type="text"] {
    width: 400px;
  }
  input {
    display: inline;
  }
}


.user-form {
  border: thin solid darkblue;
  border-radius: 10px;
  width: 50%;
  margin: 50px auto;
  padding: 40px;
  
  .btn-success {
    margin-top: 20px;
  }
  
  input[type="submit"] {
    display: inline;
  }
  
}