/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.list-container div {
  display: inline-block;
}

#main {
  margin: 0 40px 40px 40px;
}

.list-show {
  width: 260px;
  display: inline-block;
  border-radius: 5px;
  background-color: lightgreen;
  padding: 10px;
  margin: 12px;
  
}

.list-header {
  font-weight: bold;
}

.card-container {
  width: 100%;
}


/* Looks like views make anonymous divs... should probably change that */
.card-container div {
  width: 100%;
}

.card-show {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: block;
}

.board-button {
  width: 260px;
  background-color: plum;
  height: 80px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

#new-list-form, #new-board-form {
  input[type="text"] {
    width: 400px;
  }
  input {
    display: inline;
  }
}

