
<!--<div class="panel panel-default card-show">
  <div class="panel-heading"><%= list.escape('title') %></div>
  <div class="panel-body card-container">Items go here</div>
  <div class="card-form"></div>
</div>
     -->
    

<div class="list-show">
  <div class="list-header"><%= list.escape('title') %></div>
  <div class="card-container"></div>
  <div class="card-form"></div>
</div>
    